
<div class="banner banner-flat" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path @bike.photo %>');"></div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-offset-1 text-center flat-row">
      <h4>OWNER AVATAR</h4>
      <p>OWNER NAME</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-offset-1">
      <h3><%= @bike.brand %></h3>
      <p><%= @bike.model %></p>
       <p><%= @bike.year %></p>
      <ul class="list-inline">
        <li style="color: gold">
          <% rate(@bike.rating).times do %>
          <i class="fa fa-star"></i>
          <% end %>
        </li>
        <li>
          <% (5 - rate(@bike.rating)).times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
        </li>
      </ul>

    </div>

    <div class="container-show col-xs-12 col-sm-4 col-offset-1 text-right">
      <h3>Book this <%= @bike.bike_type %></h3>
      <input action="pages#home" type="submit" class="btn btn-danger" name="id" value="Book it" style="width: 100%">
    </div>
  </div>
</div>


<div class="wrapper wrapper-show">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-offset-1 text-center flat-row">
        <h3>Specifications</h3>
        <ul>
          <li>Category: <%= @bike.bike_type %></li>
          <li>Displacement: <%= @bike.displacement %></li>
          <li>Mileage: <%= @bike.mileage %></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-8 col-offset-1 text-center flat-row">
        <h3>Description</h3>
        <p><%= @bike.description %></p>
      </div>


    </div>
  </div>
</div>














