
<div class="banner banner-bike" style="background-image: url(<%= cl_image_path @bike.photo %>);"></div>


<div class="container-show-origin">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-offset-1 text-center flat-row">
      <h4>OWNER</h4>
      <%= link_to profile_path(@bike.user.profile) do %>
      <%= cl_image_tag @bike.user.profile.photo, width: 150, height: 150, radius: "max", crop: :fill %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-offset-1">
      <h3><%= @bike.brand %></h3>
      <p><%= @bike.model %></p>
      <p><%= @bike.year %></p>
      <ul class="list-inline">
        <li style="color: gold">
          <% rate(@bike.rating).times do %>
          <i class="fa fa-star"></i>
          <% end %>
        </li>
        <li>
          <% (5 - rate(@bike.rating)).times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
        </li>
      </ul>

    </div>

    <div class="container-show col-xs-12 col-sm-4 col-offset-1 text-center">
      <h3>Book this <%= @bike.bike_type %></h3>
      <h4><%= @bike.rate %> € / Day</h4>

      <div id="sandbox-container">
        <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.error_notification %>

        <%= f.input :checkin, :input_html => { :placeholder => "Choose your date", :class => "form-control", :data => {:provide => "datepicker"} }%>
        <%= f.input :checkout, :input_html => { :placeholder => "Choose your date", :class => "form-control", :data => {:provide => "datepicker"} }%>

        <%= f.button :submit, class: "btn btn-danger", value: "Book it", style: "width: 100%" %>
        <% end %>
      </div>

    </div>
  </div>
</div>



<div class="wrapper-show">
  <div class="container-specs">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-offset-1 text-center flat-row">
        <h3>Specifications</h3><br>
        <ul>
          <li> Category: <%= @bike.bike_type %></li><br>
          <li> Displacement: <%= @bike.displacement %></li><br>
          <li> Mileage: <%= @bike.mileage %></li><br>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-8 col-offset-1 text-center flat-row">
        <h3>Description</h3><br>
        <p><%= @bike.description %></p>
      </div>


    </div>
  </div>
</div>
<div class="container container-review">
  <div id="reviews">

    <% if @bike.reviews.exists? == false %>
      <h3>Be the first to leave a review for <%= @bike.brand %> <%= @bike.model %></h3>
    <% else %>
      <h3>Reviews</h3>
      <% @bike.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>

  <%= render 'reviews/form', bike: @bike, review: @review %>
</div>


<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#sandbox-container input').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,
        todayHighlight: true,
        startDate: new Date(),
        autoclose: true,
        calendarWeeks: true,
        datesDisabled: ['03/06/2016', '03/21/2016']
      });
    });
  <% end %>
<% end %>











